h1 {color: antiquewhite; background-color: red; text-align: center;} 
.text {color: antiquewhite; background-color: black;}
body {background-color: antiquewhite;} 
h2 {color: black;}
h3 {color: black;}
.podnaslov {color: red;}
.igraci {font-weight: bold; text-align: center;}
#golmani {color: gold;}
#odbrambeni {color: green;}
#vezni {color: blue;}
#napadaci {color: red;}
#MU {background-color: red; text-align: center;}
.div {
    width: 100px;
    height: 100px;
    padding: 30px 60px 50px 75px;
    background-color: brown;
    margin-top: 200px;
    border-style: dashed;
    border-width: 20px;
    border-color: yellowgreen;
    border-radius: 15px;
    display: inline-block;

}